/* Alibaba_PuHuiTi_2.0_35_Thin_35_Thin.ttfAlibaba_PuHuiTi_2.0_45_Light_45_Light.ttfAlibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttfAlibaba_PuHuiTi_2.0_55_Regular_85_Bold.ttfAlibaba_PuHuiTi_2.0_65_Medium_65_Medium.ttfAlibaba_PuHuiTi_2.0_75_SemiBold_75_SemiBold.ttfAlibaba_PuHuiTi_2.0_95_ExtraBold_95_ExtraBold.ttfAlibaba_PuHuiTi_2.0_105_Heavy_105_Heavy.ttfAlibaba_PuHuiTi_2.0_115_Black_115_Black.ttf */

@font-face {
  font-family: "Alibaba35";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-35-Thin/AlibabaPuHuiTi-2-35-Thin.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-35-Thin/AlibabaPuHuiTi-2-35-Thin.wofff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba45";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-45-Light/AlibabaPuHuiTi-2-45-Light.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-45-Light/AlibabaPuHuiTi-2-45-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba55";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-55-Regular/AlibabaPuHuiTi-2-55-Regular.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-55-Regular/AlibabaPuHuiTi-2-55-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba65";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-65-Medium/AlibabaPuHuiTi-2-65-Medium.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-65-Medium/AlibabaPuHuiTi-2-65-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba75";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-75-SemiBold/AlibabaPuHuiTi-2-75-SemiBold.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-75-SemiBold/AlibabaPuHuiTi-2-75-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba85";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-85-Bold/AlibabaPuHuiTi-2-85-Bold.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-85-Bold/AlibabaPuHuiTi-2-85-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba95";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-95-ExtraBold/AlibabaPuHuiTi-2-95-ExtraBold.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-95-ExtraBold/AlibabaPuHuiTi-2-95-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba105";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-105-Heavy/AlibabaPuHuiTi-2-105-Heavy.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-105-Heavy/AlibabaPuHuiTi-2-105-Heavy.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Alibaba115";
  font-weight: 1000;
  src: url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-115-Black/AlibabaPuHuiTi-2-115-Black.woff2') format('woff2'),
      url('https://bounty-go.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-115-Black/AlibabaPuHuiTi-2-115-Black.woff') format('woff');
  font-display: swap;
}
